<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href="/static/styles/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/drive.js"></script>
</head>
<body>
    <div class="container">
        <div class="Log">
            <div id="logDiv"></div>
        </div>
        <div class="Control">
            <div id="Controller">
                <div id="driveforward" class="driveButton"></div>
                <div id="driveleft" class="driveButton"></div>
                <div id="driveright" class="driveButton"></div>
                <div id="drivebackward" class="driveButton"></div>
                <div id="drivebrake" class="driveButton"></div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
